body{font-family: "微软雅黑";background:#ffffff}
html{-webkit-text-size-adjust:none;font-size:62.5%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block; }
img{width:100%;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
table{border-collapse:collapse;border-spacing:0}
audio,canvas,video { display: inline-block;*display: inline;*zoom: 1;}
fieldset,img{border:0}
ol,ul{list-style:none}
caption,th{text-align:left}
h1,h2,h3,h4,h5,h6{font-weight:normal}
a{text-decoration: none;display: inline-block;}
.clear{ clear:both}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;-webkit-appearance: none;font-family: "微软雅黑";resize: none}
i{font-style:normal;}



/*Atom class*/
.fl {float: left;}
.fr {float: right;}
.ib {display: inline-block;}
.ov {overflow: hidden;padding: 1px;}
.rel {position: relative;}
.p15 {padding: 15px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb30 {padding-bottom: 30px;}
.pr15 {padding-right: 15px;}
.ptb15 {padding: 15px 0;}
.pt10 {padding-top:10px}
.mlr15{margin-left:15px;margin-right:15px}
.mlr10{margin-left:10px;margin-right:10px}
.mlr5{margin-left:5px;margin-right:5px}
.mb25{margin-bottom: 25px;}
.pt5 {padding-top: 5px}
.plr15 {padding: 0 15px;}
.plr10 {padding: 0 10px;}
.pl15 {padding-left:15px;}
.fs10 {font-size: 10px;}
.fs11 {font-size: 11px;}
.fs12 {font-size: 12px;}
.fs13 {font-size: 13px;}
.fs14 {	font-size: 14px;}
.fs15 {	font-size: 15px;}
.fs16 {font-size: 16px;}
.fs17 {font-size: 17px;}
.fs18 {font-size: 18px;}
.fs20 {font-size: 20px;}
.fs22 {font-size: 22px;}
.ml15{margin-left:15px}
.tr{text-align: right}
.tc{text-align: center}
.fl{float: left;}
.fr{float: right;}
.p-10{padding:0 1rem}
.p-t1{padding:1rem 0;overflow:hidden}
.p-t2{padding:2rem 0;}
.p-t3{padding-top:0.8rem;}
.p-b1{padding-bottom:1.5rem}
.p-b2{padding-bottom:1.1rem}
.p-q1{padding:1.5rem 1rem 1rem 1rem}
.pb2{padding-bottom:2rem}
.t-20{font-size:1.3rem}
.t-21{font-size:1.1rem}
.t-16{font-size:1rem}
.t-12{font-size:0.8rem}
.t-18{font-size:1.3rem;color:#666;line-height:1.66rem}
.t-19{font-size:1rem}
.t-24{font-size:1.6rem}
.t-26{font-size:2rem}
.t-1{font-size:1rem;color:#999;text-shadow:1px 1px 0 #fff;background:#e5e5e5;padding-bottom:1rem}
.t-10{font-size:0.7rem;color:#999}
.pt3{padding-top:3rem}
.m-r2{margin-right:3rem}


.mb6{margin-bottom:6rem}
.mt1{margin-top:1rem}
.mt2{margin-top:2rem}
.ml1{margin-left:1rem}
.mlr1{margin-left:1rem;margin-right:1rem}
.pl05{padding-left: 0.5rem;}
.fl{float:left}
/**/