<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no"/>
    <meta name="referrer" content="no-referrer"/>
    <meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://gw.alipayobjects.com/as/g/h5-lib/alipayjsapi/3.1.1/alipayjsapi.inc.min.js"></script>
    <script src="./static/js/base64.js"></script>
    <title>停车费支付</title>
</head>
<body>
    <style>
        [v-cloak]{
            display: none;
        }
    </style>
    <div class="main" id="app">
        <van-overlay :show="show_overlay">
            <van-loading type="spinner"/>
        </van-overlay>
        <div v-if="paramObj.dataType === '2'">
            <div class="detail">
                <van-cell-group>
                    <van-cell title="账单金额" :value="respObj.total_fee_price"></van-cell>
    
                    <div v-show="respObj.is_integral !== '1' && respObj.reduction !== null">
                        <van-cell  v-for="(item,index) in respObj.reduction" :key="index" :title="item.reduction_msg" :value="'-¥' + item.reduction_amt"></van-cell>
                    </div>
    
                    <van-cell title="优惠总金额" :value="reduceAmt"></van-cell>
                    <van-cell title="支付金额" :value="payAmt"></van-cell>
                </van-cell-group>
            </div>
    
            <div class="btn-fixed">
                <van-button type="primary" block @click="pay">
                    立即支付
                </van-button>
            </div>
        </div>
    </div>

    <script src="./static/locaVue@2/vue.min.js"></script>
    <script src="./static/locaVue@2/vant.min.js"></script>
    <script src="./static/locaVue@2/axios.min.js"></script>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="./static/locaVue@2/index.css" />

    <script>
        const serverUrl = /127|test/.test(location.origin)?'https://test.e-shequ.cn/wechat/hexie/wechat':
            /uat/.test(location.origin)?'https://uat.e-shequ.cn/wechat/hexie/wechat' : 'https://www.e-shequ.cn/wechat/hexie/wechat/'

        const axiosInstance = axios.create({
            baseURL: serverUrl,
            timeout: 10000,
        })

        var app = new Vue({
            el: '#app',
            data: {
                show_overlay: true,
                paramObj: {},
                respObj:{},

                reduceAmt:0.00, //优惠减免金额
                ruleType:'',
                payAmt: 0.00, //剔除掉优惠和精度后的实际支付金额
                reduceMoney:0.00, //精度损失的金额
            },
            created() {
                this.getUrlParam()
            },
            mounted() {
                if('1' === this.paramObj.dataType) {
                    this.pay()
                } else if('2' === this.paramObj.dataType) {
                    this.getDiscount()
                }
                
            },
            methods: {
                getUrlParam() {
                    const param = new URLSearchParams(window.location.search);
                    let jsonStr = param.get("param")
                    let paramObj = JSON.parse(jsonStr)
                    this.paramObj = paramObj
                },

                getDiscount() {
                    this.show_overlay = true
                    let param = {
                        billId: this.paramObj.billId,
                        payType: '2',  //H5支付
                        payFeeType: '02', //01管理费，02停车费
                    }

                    axiosInstance({
                        url: "/getDiscounts",
                        method: 'post',
                        headers: {'Content-Type': 'application/json;charset=UTF-8'},
                        data: param,
                    }).then((response)=>{
                        let data = response.data;
                        if (data.success) {
                            this.respObj = data.result;
                            if(this.respObj.is_enable_integral === '0'){
                                this.cullDiscount(); //优惠减免
                            } else {
                                this.formatPay(this.respObj.total_fee_price)
                            }
							this.show_overlay = false;
                        } else {
                            alert(data.errorCode,data.message);
                        }
                    })
                },
                //计算优惠
                cullDiscount() {
                    let reduction = this.respObj.reduction;
                    for(let i=0; i< reduction.length; i++){
                        this.reduceAmt += parseFloat(reduction[i].reduction_amt) //优惠金额累加

                        if(reduction.length > 1){
                            this.ruleType += reduction[i].rule_type + ',';//规则
                        } else {
                            this.ruleType = reduction[i].rule_type;
                        }
                    }

                    this.payAmt = (parseFloat(this.respObj.total_fee_price) - parseFloat(this.reduceAmt)).toFixed(2);//减去优惠的值
                    this.formatPay(this.payAmt)//四舍五入
                },
                //计算精度
                formatPay(amt) {
                    let reduce_rate = 0;
                    let reduced_amt = 0;
                    if(!this.paramObj.reduceMode || "0" === this.paramObj.reduceMode){
                        return false;
                    } else if ("1" === this.paramObj.reduceMode) { //四舍五入至元
                        reduce_rate = "1";
                        reduced_amt = Math.round(amt * reduce_rate) / reduce_rate;
                    } else if ("2" === this.paramObj.reduceMode) { //表示四舍五入至角
                        reduce_rate = "10";
                        reduced_amt = Math.round(amt * reduce_rate) / reduce_rate;
                    } else if ("4" === this.paramObj.reduceMode) { //表示保留至角去分
                        reduce_rate = "10";
                        reduced_amt = Math.floor(amt * reduce_rate) / reduce_rate;
                    } else if ("5" === this.paramObj.reduceMode) { //表示保留至角入分
                        reduce_rate = "10";
                        reduced_amt = Math.ceil(amt * reduce_rate) / reduce_rate;
                    } else if ("6" === this.paramObj.reduceMode) { //保留至元去角
                        reduce_rate = "1";
                        reduced_amt = Math.floor(amt * reduce_rate) / reduce_rate;
                    } else if ("7" === this.paramObj.reduceMode) { // 保留至元入角
                        reduce_rate = "1";
                        reduced_amt = Math.ceil(amt * reduce_rate) / reduce_rate;
                    } else {
                        return false;
                    }
                    this.reduceMoney = parseFloat(amt) - parseFloat(reduced_amt.toFixed(2));//四舍五入的钱传给后端
                    this.reduceMoney = this.reduceMoney.toFixed(2); //减少的钱
                    this.payAmt = reduced_amt.toFixed(2); //合计
                },
                

                pay() {
                    this.show_overlay = true
                    let dataType = this.paramObj.dataType
                    if('1' === dataType) { //道闸临停支付
                        axiosInstance({
                            url: "/park/getPrePaying",
                            method: 'post',
                            headers: {'Content-Type': 'application/json;charset=UTF-8'},
                            data: this.paramObj,
                        }).then((response)=>{
                            let data = response.data
                            if (data && data.success && data.result) {
                                this.payChannel(data)
                            } else {
                                alert(data.message);
                                this.show_overlay = false
                                return
                            }
                        }).catch((err)=> {
                            alert(err);
                        })
                    } else if('2' === dataType) { //包月车支付
                        let param = this.paramObj
                        param.reduceAmt = this.reduceMoney
                        param.ruleType = this.ruleType
                        param.reductionAmt = this.reduceMoney
                        param.payFeeType = '02'
                        param.isQrcode = '1'
                        axiosInstance({
                            url: "/getPrePayInfo4Qrcode",
                            method: 'post',
                            headers: {'Content-Type': 'application/json;charset=UTF-8'},
                            data: param,
                        }).then((response)=>{
                            let data = response.data;
                            if (data.success) {
                                this.payChannel(data)
                            } else {
                                alert(data.message);
                                this.show_overlay = false
                                return
                            }
                        })
                    }
                    // this.show_overlay = false
                },

                payChannel(data) {
                    let scanChannel = this.paramObj.scanChannel
                    if('1' === scanChannel) { //支付宝支付
                        let tranNo = data.result.packageId
                        ap.tradePay({
                            tradeNO: tranNo
                        }, function(res){
                            if(res.resultCode === "9000") {
                                alert('支付成功')
                                ap.call("closeWebview")
                            } else if(res.resultCode === "6001") {
                                alert('支付取消')
                                ap.call("closeWebview")
                            } else if(res.resultCode === "4000") {
                                alert('支付失败')
                            }
                        })
                    } else if('3' === scanChannel) { //微信公众号支付
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: data.result.appid, // 必填，公众号的唯一标识
                            timestamp: data.result.timestamp, // 必填，生成签名的时间戳
                            nonceStr: data.result.noncestr, // 必填，生成签名的随机串
                            signature: data.result.paysign,// 必填，签名，见附录1
                            jsApiList: ['chooseWXPay'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        });
                        wx.chooseWXPay({
                            "appId": data.result.appid,
                            "timestamp": data.result.timestamp,
                            "nonceStr": data.result.noncestr,
                            "package": data.result.package,
                            "signType": data.result.signtype,
                            "paySign": data.result.paysign,
                            success: function (res) {
                                alert('支付成功')
                                wx.closeWindow()
                            },
                            fail: function (res) {
                                alert('支付失败 ' + res.errMsg)
                            },
                            cancel: function (res) {
                                alert('支付取消')
                                wx.closeWindow()
                            }
                        })
                    } else {
                        alert('请使用微信或支付宝扫码支付')
                        return
                    }
                },
            }
        })
    </script>

<style>
    .van-loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    </style>
</body>
</html>
    